:heavy_check_mark: Here is the plan for directory `{{.Folder}}`, using workspace `{{.Workspace}}`:

<details>
<summary>:warning: Click here to show the plan fully</summary>

```diff
{{.Output}}
```
</details>
